.DS_Store
moc_*.cpp
ui_*.h
*.o

Makefile

habr.app/Contents/Info.plist

QtMacApp.pro.user

habr.app/Contents/MacOS/habr

habr.app/Contents/PkgInfo

habr.app/Contents/Resources/empty.lproj

habr.app/Contents/Resources/myicon.icns

qrc_images.cpp
